**/__tests__/**
**/*.test.*
**/*.spec.*
**/docs/**
**/specs/**
../../infra
../../store-assets
../../wsfitness
../../.git
../../.github
../../test-results
**/android/build/**
**/ios/build/**
**/ios/Pods/**
