name: CI
on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo lint
      - run: pnpm turbo typecheck
        env:
          DATABASE_URL: postgresql://fake:fake@localhost:5432/fake
      - run: pnpm turbo build
        env:
          DATABASE_URL: postgresql://fake:fake@localhost:5432/fake
